@page "/auth/SignUp"
@layout FirebaseLayout
@rendermode @(new InteractiveServerRenderMode(prerender: false))

@inherits ReactiveUI.Blazor.ReactiveInjectableComponentBase<SignUpViewModel>

@if (ViewModel!.ErrorMessage is {} errorMessage){
    <MudAlert Severity="Severity.Error">@errorMessage</MudAlert>
}
<MudContainer MaxWidth="MaxWidth.ExtraSmall">
    <div class="card-container">
        <MudPaper Elevation="2" Class="rounded-xl pa-7">
            <MudStack Spacing="5">
                <div>
                    @if (ViewModel!.Title is { } title){
                        <MudText Typo="ViewModel!.TitleTypo" Class="@ViewModel!.TitleClass">@title</MudText>
                    }
                    @if (ViewModel!.Subtitle is { } subtitle){
                        <MudText Typo="ViewModel!.SubtitleTypo" Class="@ViewModel!.SubtitleClass">@subtitle</MudText>
                    }
                </div>
                <MudTextField Variant="Variant.Filled" @bind-Value="ViewModel!.Email" Label="Email"/>
                <MudTextField Variant="Variant.Filled" @bind-Value="ViewModel!.Password" Label="Password" InputType="InputType.Password"/>

                <MudButton Variant="Variant.Filled" Color="Color.Primary" Disabled="ViewModel!.IsAuthenticating">
                    Continue
                </MudButton>
                <div class="rz-middle-bar">
                    <span class="rz-middle-bar-text">@ViewModel!.MiddleText</span>
                </div>
                <div style="margin: 0.25rem 0">
                    <MudButton Style="width: 100%" Variant="Variant.Outlined" Color="Color.Secondary" Disabled="ViewModel!.IsAuthenticating">
                        <MudImage Width="24" Height="24" Src="https://www.gstatic.com/firebasejs/ui/2.0.0/images/auth/google.svg"/>
                        <MudText Typo="Typo.button" Class="ms-2">Google</MudText>
                    </MudButton>
                </div>
                <div style="display: flex; flex-direction: row; justify-content: center">
                    <MudText Typo="Typo.body2">@ViewModel!.AlreadyHaveAccountText</MudText>
                    &nbsp;
                    <MudLink Color="Color.Secondary" Typo="Typo.body2" Href="@ViewModel!.LoginUrl">@ViewModel!.LoginText</MudLink>
                </div>
            </MudStack>
        </MudPaper>
    </div>
</MudContainer>
